.resultContainer {
  margin-top: 32px;
  width: 327px;
  height: 257px;
  background-color: var(--very-dark-cyan);
  border-radius: 15px;
}

.tipAmount,
.total {
  display: flex;
  justify-content: space-between;
}

.tipAmount {
  padding: 39px 23px 24px 23px;
}

.total {
  padding: 0px 23px 35px 23px;
}

.tipAmount h3,
.total h3 {
  color: var(--white);
  width: 98px;
  font-size: 16px;
}

.total h3 {
  width: 64px;
}

.tipAmount h3 span,
.total h3 span {
  color: var(--middle-grayish-cyan);
  font-size: 13px;
}

.tipAmount p,
.total p {
  font-size: 32px;
  color: var(--strong-cyan);
}

.resultContainer button {
  width: 281px;
  height: 48px;
  border-radius: 5px;
  background-color: var(--dark-cyan);
  border: none;
  margin-left: 23px;
  font-size: 20px;
  color: var(--very-dark-cyan);
  font-weight: var(--fw-bold);
}

.resultContainer button:hover {
  background-color: var(--light-cyan);
  cursor: pointer;
}

@media (min-width: 1200px) {
  .resultContainer {
    width: 413px;
    height: 417px;
    margin-top: 0px;
  }
  .tipAmount {
    padding: 56px 40px 53px 40px;
  }
  .total {
    padding: 0px 40px 134px 40px;
  }
  .resultContainer button {
    width: 333px;
    margin-left: 40px;
  }
}
